<div class="container letra">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 235px;">
            <br>
            <h5 class="text-center">Soluciones Informáticas a Tu Alcance, Desde el Software hasta la Reparación</h5>
            <h1 class="text-center">Servicios Técnicos de Mercy Developer</h1>

            
            <div class="pt-5 row">
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/98.webp" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Sistemas Operativos</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/456489598_2519837488224796_493320068497481550_n.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">Instalación de Software de Oficina</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/reparacion-de-software-y-hardware-de-computadores.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="text-center">reparación de computadoras</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                    <div class="text-center">
                        <h2> Instalación de Puntos de Red PRO</h2> 
                    </div><br><br><br>     
                <div class="container" style="max-width: 750px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="assets/red wiaeoiwa.jpg" class="container" alt="PuntodeRed">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h4 class="card-title">Instalación de Puntos de Red</h4><br>
                          <p class="card-text">optimiza tu red con nuestros puntos de red pro, ofrecemos soluciones rapidas y eficientes para extender tu conexion por toda la casa o oficina, instalacion facil y compatible con cualquier sistema .</p>
                          <p class="card-text">Puede conseguirlo por tan solo 25.000$ + $ 2.850$Iva (por punto de red)</p>
                        </div>
                      </div>
                      <div class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Detalle
                        </button>
                    </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">en que consiste la instalacion de Puntos de Red PRO</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    La instalación de puntos de red consiste en la colocación de dispositivos como cables, enchufes, switches y enrutadores para proporcionar acceso a internet o a una red local (LAN). Este proceso incluye la planificación de la ubicación de los puntos de conexión, la instalación del cableado estructurado a lo largo del espacio, la conexión de cables a los paneles de parcheo o switches y la configuración de equipos de red, como routers y accesos inalámbricos. Finalmente, se realiza una prueba de conectividad para asegurar el buen funcionamiento de la red. 
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                              </div>
                            </div>
                        </div>    
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
